*{
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 2px;
    font-size: medium;
    font-style: normal;
}

.column-font {
    font-size: small;
}

.footer {
    margin-top: 15px;
}

a {
    color: #0000EE;
}
::placeholder{
    float:left;
}